@import "./variables";

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  @extend %full;
  font: 14px/1.5 "Microsoft YaHei", "Droid Sans Fallback", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;

  .centerX {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  .centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .txt-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
