@import "./variables";

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  @extend %full;
  font: 14px/1.5 "Microsoft YaHei", "Droid Sans Fallback", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;

  .centerX {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  .centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .txt-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.scroll-style {
  &::-webkit-scrollbar {
    width: p2r(4);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: p2r(10);
    -webkit-box-shadow: inset 0 0 p2r(5) rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .2);
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 p2r(5) rgba(0, 0, 0, .2);
    border-radius: 0;
    background: rgba(0, 0, 0, .1);
  }
}

body .popper-style {
  padding-left: 0 !important;
}
